@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "inter", sans-serif;
}
:root{
    --Soft-orange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);
    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);
    }

body{
    margin: 0 10%;
    height: auto;
    background-color: var(--Off-white);
}

/* navbar */

nav{
    width: 100%;
    display: flex;
    align-items: center; 
    height: 10vh;
    justify-content: space-between;
}
ul{
    width: 50%;
    display: flex;
    justify-content: space-between;
    list-style: none; 
}
nav-link{
    color: var(--dark-grayish-blue);
    font-weight: 700;
}
.nav-link:hover{
    color: var(--Soft-red);
}


p{
    color: var(--Very-dark-blue);
}

/* main */
.main{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.hero{
    width: 66%;
}

.new{
    width: 32%;
    background-color: var(--Very-dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.new h1{
    color: var(--Soft-orange);
    align-self: flex-start;
    margin-left: 5%;
}

.hero img{
    width: 100%;
}
.hero img:nth-of-type(2){
    display: none;
}
.hero-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.bright{
    width: 50%;
}
.bright h1{
    font-weight: 800;
    font-size: 3rem;
    color: var(--Very-dark-blue);
}
.read-more{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
button{
    width: 50%;
    background-color: var(--Soft-red);
    color: var(--Off-white);
    padding: 14px;
    border: none;
}

button:hover{
    background-color: var(--Very-dark-blue);
    cursor: pointer;
}
.new-text{
    width: 90%;
}
.new h3{
    color: var(--Off-white);
}
.new-text>h3:hover{
    color: var(--Soft-orange);
    cursor: pointer;
}
.new-text>h3{
    font-size: 1.5rem;
    color: var(--Off-white);
}

.new-text p{
    font-size: 0.78rem;
}
.new p{
    color: var(--Dark-grayish-blue);
    margin-top: 15px;
}

hr{
    width: 90%;
    border: 1px solid var(--Grayish-blue)
}
/* footer */
.footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 4rem  0;
}
.footer-card{
    width: 33%;
    display: flex;
    justify-content: space-between;
}
.footer-card img{
    width: 30%;
}
.footer-card-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 66%;
}
.footer-card-text>h3:hover{
    color: var(--Soft-red);
    cursor: pointer;
}
.footer-card-text h1{
    color: var(--Grayish-blue);
}
.footer-card-text p{
    font-size: 0.76rem;
    font-weight: 400;
    }

.menu{
    display: none;
}

/* MEDIA QUERIES */
@media (max-width: 778px){
    ul{
        display: none;
    }
    .menu{
        display: block;
    }
    .hero img:nth-of-type(1){
        display: none;
    }
    .hero img:nth-of-type(2){
        display: block;
    }

    .main{
        flex-direction: column;
    }
    .hero-content{
        flex-direction: column;
    }
    .footer{
        flex-direction: column;
    }
    .hero, .new, .bright, .read-more, .footer{
        width: 100%;
        gap: 20px;
    }
    .new{
        width: 100%;
        margin-top: 1rem;
    }
    .new p{
        font-size: 1rem;
    }
    .footer-card{
        width: 100%;
    }

    button{
        margin: 20px;
    }
    
}
    